

<div class="row">
  <%= form_for @tweet do |f| %>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6 offset-s2">
             <%= f.text_field :title , id: "input_text", type:"text" , maxlength:"10" %>
            <label for="input_text">title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 offset-s2">
           <%= f.text_area :text , id:"textarea1" ,class:"materialize-textarea" , maxlength:"120"%>
            <label for="textarea1">text</label>
          </div>
        </div>
        <div class="new-button">
          <%= submit_tag "SENT" ,class: "btn-block" %>
        </div>
  <% end %>
    </div>
