<div class="row">
  <%= form_for @tweet do |f| %>
      <div class="row">
        <div class="input-text">
          <%= f.text_field :title , style: 'width: 70%' %>
          <%= f.text_area :text , style: 'width: 70%;height: 300px;' %>
        </div>
        <div class="new-button">
          <%= submit_tag "SENT" ,class: "btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
