<nav class= "amber darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <li><a href="/tweets/new">New</a></li>
        <% else %>
        <%= link_to "Sign in", new_user_session_path, class:'post' %>
        <%end %>
      </ul>
    </div>
  </nav>
