
<%= render partial:"tweet" %>
  <!--ここからフォーム -->




<div class="contents_row">
<% @tweets.each do |tweet| %>
  <div class="content_post">
    <%= simple_format(tweet.text) %>
  </div>
  <% end %>
  </div>



<script src="./app.js" type="text/javascript"></script>
</body>
</html>
