<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>

   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Signin</a></li>
        <li><a href="">signOut</a></li>
        <li><a href="">New</a></li>
      </ul>
    </div>
  </nav>
  <!--ここからフォーム -->

<% @tweets.each do |tweet| %>
<p><%= tweet.text %></p>
<% end %>

<script src="./app.js" type="text/javascript"></script>
</body>
</html>
