.contents_post {
  height: 100px;
  width:  700px;
  margin: 0 auto;
  background-color: yellow;
}

.input-text{
  text-align: center;
  margin:20px;
}

.new-title{
  color: gray;
  position:relative;
    top:10px;
    left:100px;
}

.btn-block{
  position: relative;
     left:120px;
  height: 40px;
  width: 70px;
  background-color: #bbdefb;
  border-radius: 10px;
}

.user_title{
  position: relative;
      left:50px;
}

.field{
  height: 100px;
  width: 900px;
  margin: 0 auto;
}

.actions{
  text-align: center;
}

.devise_links{
  text-align: center;
  margin-top: 10px;
}

.edit_rogo{
  color: gray;
  position:relative;
    top:20px;
    left:180px;
}

.card-panel{
  position: relative;
    bottom: 0;
}


